@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

:root{
    --primary-color: #10212b;
    --lightgray-color: #1e3746;
    --cells-color: #122530b7;
    --green-color: #8fa464;
    --orange-color: #9b8149;
    --wrong-letter: #0e1a20;
    --wrong-key-letter: #455d69;
    --light-color: #effbdb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;;
    color: var(--light-color);
}

#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

html{
    background-color: var(--primary-color);
}

body{
    width: 100%;
    height: 100svh;
}

main{
  width: 100%;
  height: 100%;
  margin: auto;
}

.rows-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    margin-top: 30px;
    width: fit-content;
}

input[type="text"]{
    color: var(--light-color);
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin: 0 5px;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--cells-color);
    border: 2px solid var(--lightgray-color);
    caret-color: transparent;
    pointer-events: none;
}

input[type="text"]:focus{
  outline: none;
}

.pop {
  animation: popAnim 150ms ease-in-out;
}

@keyframes popAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.right_pos_let{
    background-color: var(--green-color)!important;
    border: none;
}

.right_let{
    background-color: var(--orange-color)!important;
    border: none;
}

.wrong_let{
    background-color: var(--wrong-letter)!important;
    border: none;
}

.wrong_key_let{
  background-color: var(--wrong-key-letter)!important;
  color: var(--light-color);
}

input.flip {
  animation: flipAnim 600ms ease-in-out forwards;
  transform-style: preserve-3d;
}

@keyframes flipAnim {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
    background-color: var(--cells-color);
  }
  100% {
    transform: rotateX(0deg);
  }
}



.keyboard{
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    gap: 10px;
    margin-top: 20px;
}

.keyboard-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
}

.key {
  flex: 1 1 0;             /* si espandono equamente */         /* limite massimo (opzionale) */
  width: 20px;            /* consente il wrapping */
  height: 50px;
  margin: 0px 3px;
  border-radius: 8px;
  background-color: var(--light-color);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: none;
  opacity: 0.7;
}

.key:hover{
    filter: brightness(.8);
}